.home {
    h1 {
        text-align: center;
    }
    .input-container {
        max-width: 70%;
        margin: 0 auto;
        input {
            width: 100%;
            padding: 10px 10px;
            margin-bottom: 1.2rem;
        }
    }
}