.forecast-preview{
    // border: $border;
    box-shadow: 0px 0px 10px rgba($clr1, 0.2);
    background-color: $clr2;
    border-radius: 5px;

    .dark & {
        background-image: linear-gradient(to bottom, $clr2, $clr1);
        color: $clr2;
    }
    .card-header {
        position: relative;
        margin-bottom: $baseMargin;
        .icon {
            position: absolute;
            bottom: -20px;
            left: 50%;
            z-index: 1;
            transform: translateX(-50%);
            max-width: 120px;
        }
    }

    .card-body {
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid rgba($clr1, 0.2);
        min-height: 150px;
        
        .dark & {
            border-bottom: 1px solid rgba($clr2, 0.2);
        }

        p {
            font-size: rem(14px);
            margin-bottom: $baseMargin;
        }

        span {
            font-family: robotoLight, sans-serif;
            font-size: rem(30px);
            letter-spacing: -3px;
        }
    }
    
    .card-footer {
        padding: 10px;
    }
}