.location-info {
    margin: 1.2rem 0px;
    .title {
        flex-basis: 33%;
        h1 {
            margin: 0;
        }
    }

    .button-container {
        flex-basis: 33%;
        button {
            font-size: rem(10px);
            padding: 7px;
            color: $clr1;
            &:hover {
                color: $clr2;
            }
            .dark & {
                color: $clr2;
            }
            @include for-normal-layout {
                font-size: rem(12px);
                padding: 10px 15px;
            }
        }
    }

    .wrraper {
        gap: 10px;
        flex-basis: 33%;
        justify-content: end;
        .far {
            font-size: rem(18px);
            color: $clr1;
            cursor: pointer;
            .dark & {
                color: $clr2;
            }
            cursor: pointer;
            &:hover{
                color: $clr5;
            }
        }
        .fas {
            font-size: rem(18px);
            color: red;
            cursor: pointer;
            .dark & {
                color: $clr2;
            }
            cursor: pointer;
            &:hover{
                color: $clr5;
            }
        }
        button {
            display: none;
            @include for-normal-layout {
                display: block;
            }   
        }
    }
}