* {
    box-sizing: border-box;
}

html {
    font-family: roboto, sans-serif;
    line-height: 1;
    color: $clr1;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: $clr2;
    height: 100%;
}

img {
    width: 100%;
}

h1,h2,h3,h4,h5 {
    margin: 0px 0px 1.2rem;
    padding: 0;
}

p, small {
    margin: 0;
    padding: 0;
}


button {
    cursor: pointer;
    background: none;
    border: 1px solid $clr1;
    padding: 10px 15px;
    font-family: robotoBold, sans-serif;
    text-transform: uppercase;
    font-size: rem(12px);
    border-radius: 50px;

    transition: all .3s;

    &:hover {
        transform: scale(1.05);
        background-color: $clr1;
        color: $clr2;
    }
}


a{
    font-family: robotoBold, sans-serif;
    text-decoration: none;
    color: inherit;
}

small {
    text-transform: uppercase;
    font-family: robotoBold, sans-serif;
    color: $clr3;
    letter-spacing: 0.5px;
    font-size: rem(10px);
}

header {
    margin-bottom: 1.2rem;
}