.main-container {
    display: grid;
    grid-template-columns: 20px 1fr 20px;

    > * {
        grid-column: 2;

        &.full {
            grid-column: 1 /-1;
        }
    }

    @include for-narrow-layout {
        @include layoutGTC($padded-break-narrow);
    }
    
    @include for-normal-layout {
        @include layoutGTC($padded-break-normal);
    }
    
    @include for-wide-layout {
        @include layoutGTC($padded-break-wide);
    }
}


.grid-cards {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(190px, 1fr) );
    gap: 15px;
}