// Colors
$clr1: #252422;
$clr2: #fffcf2;
$clr3: #ccc5b9;
$clr4: #403d39;
$clr5: rgb(197, 17, 17);
$clr6: #707070;


$border: 1px solid rgba($clr1, 0.2);
$baseMargin: 1.2rem;

// LAYOUT
$layoutPadding: 40px;

// Breakpoints
$break-narrow: 460px;
$break-normal: 720px;
$break-wide: 960px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;